<div class="DashboardHead">
    <p style="font-size: x-large; color:#777777; font-family: Open Sans;
    font-weight: bold; ">PROJECT MANAGEMENT</p>
    <div style="font-size:small; color:#777777; font-family: Open Sans;
     ">Home > Project Management > Search Project</div>
  </div>
   

<mat-card class="card1">
  
   <div class="heading">
      <h2>
          Search Project 
        </h2>
   </div>
        <div class="wrap" >
          <div class="search">
            
             <input type="text" class="searchTerm" placeholder="Enter Project ID or Name...">
             <button type="submit" class="searchButton" > 
               Search
            </button>
          </div>
        
      </div>
</mat-card>

    <div class="mat-elevation-z8 card2"> 
        <table mat-table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>
          
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
